<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
    <link rel="stylesheet" href="css/login.css">
</head>
<body style=" background-image: linear-gradient(to bottom, rgba(180, 130, 130, 0.1), rgba(0, 0, 0, 0.1)), 
url('images/bg.jpg');
background-position: center;
justice-content:center;
background-size: cover;">
{{>navbar}}

    <div class="registrationform">
        <form class="container loginform" action="/admin" method='POST'>
        <h1>Admin Login</h1>
      
              <div class="input">
              <span class="spanvalue" for="admin_username"><b>Admin Username :</b></span><br>
              <input class="box" type="text" id="admin_username" maxlength="20"  size="5" name="admin_username" placeholder="Enter Your Admin Username ( E-Mail )" required>
              </div>
      
              <div class="input">
              <span class="spanvalue" for="password"><b>Password  :</b></span><br>
              <input class="box" type="password" id="password"  size="8" maxlength="20" name="password" placeholder="Enter Your Password" required>
              <br>
              </div>
              <div class="checkbox">
                <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
                <label class="form-check-label" for="exampleCheck1" onclick="alert_box()" name="token_generate">Token Generate</label>
                <br>
                <br>
              </div>
              {{!-- <button type="submit" class="btnreg1"><a href="/generate_token"><b>Token G</b></a></button> --}}
              <button type="submit" class="btnreg1"><b>Login</b></button>
              <script>

              </script>
            </form>
          </div>




</body>
</html>