<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/navbar.css">
    <title>Document</title>
  </head>
  <body>


    <div class="div1">

      <nav class="navbar123" id="navbarhiddencolor" style="z-index: 99999;">

<ul>
            <li>
            <a class="link" href="about" style="text-decoration: none;">ABOUT US</a>
            </li>
            <li>
                <a class="link" class="show_status" id="back">BACK</a>
            </li>

</ul>
      </nav>
    </div>
                  <script>
            document.getElementById("back").addEventListener("click",()=>{
                window.history.back(2);
            })
          </script>

  </body>
</html>